
extends layout

include partials/social-icons

block prepend title
  | #{ ' - ' + page.title }

block append styles
  if page.metadata.code
    link(rel='stylesheet', href='/css/tomorrow.css')

block content
  article
    header.header-full
      h1.h1-full= page.title
      p.date= moment.utc(page.date).format('MMMM DD, YYYY')
      +social-icons('sharing')
    section.content!= typogr(page.html).typogrify()

block prepend footer
  section
        a.a-footer(href=contents.index.url) « Return


