extends layout

block content
  include author
  each article in articles
    article.intro
      header
        h2.header-intro
          a(href=article.url)= article.title
        p.date= moment.utc(article.date).format('MMMM DD, YYYY')
      section
        | !{ typogr(article.intro).typogrify() }
        if article.hasMore
            em: a(href=article.url) Continue Reading »

block prepend footer
  section
      if prevPage
            a.a-footer(href=prevPage.url) « Newer
      else
           a.a-footer(href='/archive.html') « Archive
      if nextPage
           a.a-footer(href=nextPage.url) Next page »
