each val, index in contents.images.social['socialpaths.json'].metadata
  svg(xmlns='http://www.w3.org/2000/svg'
      xmlns:xlink='http://www.w3.org/1999/xlink'
      width='28px'
      height='28px'
      fill='#0075a4'
      viewBox='0 0 28 28'
      class='social-icon')
    path(d=val)

